<!DOCTYPE html>
<html>
    <head>
        <title>Playliste</title>
    </head>
    <body>
        <header>
            <h1>Bienvenu dans La Home de {{ id }}</h1>
            <nav>
                <a href="/home/list" >Voir liste</a>
                <a href="/home/ajout" >Ajout iframe</a>
            </nav>
        </header>
        <section>
            <ul>
            {% for liste in lists %}
                <li><a href="/home/video/{{liste[0]}}">{{liste[1]}}</a></li>
            {% endfor %}
            </ul>
        </section>
    </body>
</html>